 <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$("document").ready(function(){
  $click =  $('.expandclass');   // Click selector


  $click.click(function () {

    $clicked = $(this);
    $expand = $(this).parent('.expand').next();  // Expand and collapse content selector

        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $expand.slideToggle(500, function () {
            //execute this after slideToggle is done
            //change text of expand based on visibility of content div
        });

    });
});
</script>
</head>
<body>
<center>
<h1>Ansible Network Automation Example Report</h1>
</center>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Transport</th>
            <th>Platform</th>
            <th>Code Version</th>
            <th>Serial Number</th>
        </tr>
    </thead>
    <tbody>
{% for network_switch in groups['routers']|sort %}
        <tr>
            <td><p class="hostname">{{hostvars[network_switch]['ansible_net_hostname']}}</p>
<!–– INTERNAL TABLE FOR INTERFACES --!>
<div class="expand">
  <p class="expandclass">>Interfaces Facts - Click to see details</p>
</div>
<div class="content">
<table id="subtable">
    <thead>
        <tr>
            <th>Interface Name</th>
            <th>Description</th>
            <th>Duplex</th>
            <th>Enabled</th>
            <th>MTU</th>
            <th>Speed</th>
        </tr>
    </thead>
    <tbody>
{% if hostvars[network_switch]['ansible_network_resources']['interfaces'] is defined %}
{% for interface in hostvars[network_switch]['ansible_network_resources']['interfaces'] %}
        <tr>
            <td>{{interface['name']}}</td>
            <td>{{interface['description']|default("none")}}</td>
            <td>{{interface['duplex']|default("default")}}</td>
            <td>{{interface['enabled']}}</td>
            <td>{{interface['mtu']|default("default")}}</td>
            <td>{{interface['speed']|default("default")}}</td>
        </tr>
{% endfor %}
{% endif %}
    </tbody>
</table>
</div>
</div>
<!–– END INTERNAL TABLE FOR INTERFACES --!>
<!–– INTERNAL TABLE FOR L3_INTERFACES --!>
<div class="expand">
  <p class="expandclass">>Interfaces L3 Facts - Click to see details</p>
</div>
<div class="content">
<table id="subtable">
    <thead>
        <tr>
            <th>Interface Name</th>
            <th>IPv4</th>
            <th>IPv6</th>
        </tr>
    </thead>
    <tbody>
{% if hostvars[network_switch]['ansible_network_resources']['l3_interfaces'] is defined %}
{% for interface in hostvars[network_switch]['ansible_network_resources']['l3_interfaces'] %}
        <tr>
            <td>{{interface['name']}}</td>
<!–– INTERNAL IPv4 LOOP FOR L3_INTERFACES --!>
            <td>
{% if interface.ipv4 is defined %}
{% for address in interface.ipv4 %}
{{address['address']}}
{% if address['secondary'] is defined %}
secondary
{% endif %}
{% if loop.length > 1 and not loop.last %}<br>{% endif %}
{% endfor %}
{% endif %}
            </td>
<!–– END IPv4 INTERNAL LOOP FOR L3_INTERFACES --!>
<!–– INTERNAL IPv6 LOOP FOR L3_INTERFACES --!>
            <td>
{% if interface.ipv6 is defined %}
{% for v6address in interface.ipv6 %}
{{v6address['address']}}
{% if loop.length > 1 and not loop.last %}<br>{% endif %}
{% endfor %}
{% endif %}
            </td>
<!–– END INTERNAL LOOP FOR L3_INTERFACES --!>
        </tr>
{% endfor %}
{% endif %}
    </tbody>
</table>
</div>
</div>
 <!–– END INTERNAL TABLE FOR L3_INTERFACES --!>
            </td>
{% set ansible_connection = hostvars[network_switch]['ansible_net_api'] %}
            <td>{{transport[ansible_connection]}}</td>
{% set ansible_network_os = hostvars[network_switch]['ansible_net_system'] %}
            <td>{{vendor[ansible_network_os]}} {{hostvars[network_switch]['ansible_net_system']}}</td>
            <td>{{hostvars[network_switch]['ansible_net_version']}}</td>
            <td>{{hostvars[network_switch]['ansible_net_serialnum']}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
<center><p>Created with</p><br><img src="webpage_logo.png" width="300">
<p>The source code to create this report can be found at <a href="https://github.com/network-automation/tower_workshop">https://github.com/network-automation/tower_workshop</a></br><br>
If you are new to Ansible Automation check out the following links:<br>
<a href="https://docs.ansible.com/ansible/latest/user_guide/intro_getting_started.html">Getting Started</a"><br>
<a href="https://ansible.com/workshops">Free hands-on workshops</a><br>
<a href="https://youtube.com/ansibleautomation">Youtube Videos</a><br>
</p>
</center>

</body>
</html>